/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body{
    font-family: 'Open Sans', sans-serif;
}

.btn{
    border-radius: 0px;
    border: none;
    padding: 10px 20px;
    background-color: #0061ff;
    color: #ffffff;
}
    
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*typo */
h1{
    font-size: 8vh;
    margin-bottom: 65px;
}

/* header */
header{  
    height: 10vh;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.h-left img{
    vertical-align: text-bottom;
}

.h-left,
.h-right{
    height: 10vh;
    display: inline-block;
    line-height: 10vh; 
    padding: 0px 15px;
}

.h-left li,
.h-right li{
    padding: 0 40px;
   
}

.h-right{
    float: right;
    text-align: right;
}

.h-left nav ul li,
.h-right nav ul li,
nav{
    display: inline-block;
}

header a{
    text-decoration: none;
    color: black;
}

/* main */
.hero{
    background-color: #b4d0e7;
    margin-top: 10vh ;
    height: 585px;
    margin-bottom: -100px;
    
 }

 .box-l{
     text-align: left;
     width: 80%;
     margin: auto;
 }

 .hero-left, .hero-right{
    max-width: 450px;
    display: inline-block;
 }

.hero-left > p{
     width: 380px;
     font-weight: 300;
 }

 .hero-left .btn{
     margin-top: 30px;
     margin-bottom:15px
 }

.hero-right{
     float: right;
     margin-right: 300px;
     
     
 }

 .hero-right img{
    width: 730px;
 }


 
