/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body{
    font-family: 'Open Sans', sans-serif;
}

.btn{
    border-radius: 0px;
    border: none;
    padding: 10px 20px;
    background-color: #0061ff;
    color: #ffffff;
}
    

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* header */
header{  
    height: 10vh;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.h-left img{
    vertical-align: text-bottom;
}

.h-left,
.h-right{
    height: 10vh;
    display: inline-block;
    line-height: 10vh; 
    border: 1px solid red; 
    padding: 0px 15px;
}

.h-left li,
.h-right li{
    padding: 0 40px;
   
}

.h-right{
    float: right;
    text-align: right;
}

.h-left nav ul li,
.h-right nav ul li,
nav{
    display: inline-block;
}

header a{
    text-decoration: none;
    color: black;
}

/* main */
/* .hero{
    background-color: #b4d0e7;
    height: 1500px;
} */