/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body{
    font-family: 'Open Sans', sans-serif;
}

.mainbox{
    /* text-align: left; */
    border: 1px solid black;
    width: 80%;
    margin: auto;
}

.btn{
    border-radius: 0px;
    border: none;
    padding: 10px 20px;
    background-color: #0061ff;
    color: #ffffff;
}
    
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*typo */
h1{
    font-size: 8vh;
    margin-bottom: 65px;
}
h2{
    text-align: left;
    font-size: 4vh;
}

.enterprise-left span:nth-child(2){
    font-weight:bold;
    display: inline-block;
    margin: 15px 0px;
}

/* header */
header{  
    height: 10vh;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.h-left img{
    vertical-align: text-bottom;
}

.h-left,
.h-right{
    height: 10vh;
    display: inline-block;
    line-height: 10vh; 
    padding: 0px 15px;
}

.h-left li,
.h-right li{
    padding: 0 40px;
   
}

.h-right{
    float: right;
    text-align: right;
}

.h-left nav ul li,
.h-right nav ul li,
nav{
    display: inline-block;
}

header a{
    text-decoration: none;
    color: black;
}

/* main */
.hero{
    background-color: #b4d0e7;
    margin-top: 10vh ;
    height: 585px;
    /* margin-bottom: -100px; */
    
 }

 

 .hero-left, .hero-right{
    max-width: 450px;
    display: inline-block;
 }

.hero-left > p{
     width: 380px;
     font-weight: 300;
 }

 .hero-left .btn{
     margin-top: 30px;
     margin-bottom:15px
 }

.hero-right{
     float: right;
     margin-right: 300px;
     
     
 }

 .hero-right img{
    width: 730px;
 }

/* piano-column */
.piano-col{
    width: 90%;
    margin: auto;
    margin-top: 200px;
    text-align: center;
    padding: 15px 0px;
    
}
 .billing{
margin-top: 75px;
margin-bottom: 35px;
}

/* colonne */
.col{
    width: calc(100% / 3 - 20px);
    min-height: 1000px; 
    border: 1px solid #d0d0d3;
    float: left;
    text-align: center;
}

.col-head span{
    padding: 15px 0px;
    display: block;
}

.sta{
     margin: 0px 30px; 
} 

.text-left{
    text-align: left;
    
}


.ul-col{
    text-align: left;
    margin-top: 40px;
    padding-left: 30px;
}

.ul-col .ul-1 li:nth-child(2),
.ul-col .ul-1 li:nth-child(5){
    padding: 15px 0px;
}

.ul-col .ul-1 li:nth-child(3){
    margin-bottom: 50px;
}

.ul-col ul li{
    list-style-type: none;
}

.col-btn{
    padding: 10px 50px;
   
}

.free-trial{
    margin: 30px 30px;
  
}

.free-trial span{
    display: inline-block;
    padding: 30px 0px;
    border-bottom: 1px solid #d0d0d3;
}

.free-trial a{
    padding: 30px 100px 0px 0px;
}

.ul-2 li{
    padding: 15px 0px;

}

.enterprise{
    border: 1px solid #d0d0d3;
}

.enterprise-left{
    width: 60%;
    display: inline-block;
    padding:35px 25px;
}

.enterprise-right{
    width: 40%;
    padding:35px 25px;
    float:right;
}


.enterprise-left p:nth-child(3){
    font-size: small;
}

.enterprise-right .btn{
    padding: 10px 100px
}





